@import '../../utilities/scss_variables.scss';

.container {
  background: $primary;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  max-width: 100%;
  p {
    margin: 3px;
  }
  h2 {
    margin-top: 20px;
    color: #fff;
  }
}
.bioInfo h4 {
  color: #fff;
  font-weight: 800;
  text-align: left;
}
.imageContainer {
  @media screen and (max-width: 739px) {
    display: none;
  }
  min-height: 100vh;
  flex: 1;
  min-width: 55%;
  background-image: url('../../images/computer.svg');
  background-size: cover;
}
.textContainer {
  opacity: 0;
  margin: 30px;
  h1 {
    @include fluid-type(320px, 1200px, 42px, 90px);
  }
  h3 {
    @include fluid-type(320px, 1200px, 18px, 32px);
  }
  margin-bottom: 20px;
}
.fadeIn {
  animation: fadeIn 1s forwards;
}
.about {
  @media screen and (min-width: 739px) {
    min-width: 700px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolioMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
  svg {
    color: #fff;
    font-size: 25px;
  }
}
