@import '../../utilities/scss_variables.scss';

.container {
  background: $primary;
  height: 100vh;
  width: 100vw;
  display: flex;
  max-width: 100%;
  p {
    margin: 3px;
  }
  h2 {
    margin-top: 20px;
    color: #fff;
  }
}
.bioInfo h4 {
  color: #fff;
  font-weight: 800;
  text-align: left;
}
.imageContainer {
  height: 100vh;
  flex: 1;
  background-image: url('../../images/computer.svg');
  background-size: cover;
  // opacity: 0;
}
.textContainer {
  opacity: 0;
}
.fadeIn {
  animation: fadeIn 1s forwards;
}
.about {
  max-width: 45%;
  min-width: 700px;
  padding: 30px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolioMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
  svg {
    color: #fff;
    font-size: 25px;
  }
}
