.container {
  margin: 20px 0 0 10px;
  max-width: 750px;
  align-self: center;
  display: flex;
  align-items: center;
  p {
    color: #fff;
  }
}
.contentContainer {
  align-self: center;
  max-width: 605px;
  margin-top: 15px;
  height: fit-content;
  background: rgba(112, 112, 112, 0.15);
  border-radius: 5px;
  padding: 17px 0 17px 23px;
  overflow: hidden;
}
.menuContainer {
  width: 80%;
  margin: 0 20px;
}
.arrow {
  opacity: 0;
  transition: 0.5s;
  color: #fff;
  font-size: 40px;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
.visible {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
.slider {
  display: flex;
  transition: 0.7s;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.active {
  opacity: unset !important;
}
.menuItem {
  height: 4px;
  width: 23%;
  background-color: #fff;
  opacity: 0.3;
  cursor: pointer;
}
